*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.65;
    background-color: white;
   overflow-x: hidden;
    font-family: 'SupercellText-Regular',Helvetica,Arial,sans-serif;
}

.navbar{
    display: flex;
}
header{
    width: 100%;
    background-color:rgb(6, 8, 24);
    padding: 15px;
    position: fixed;
    top:0;

    
}
header .container{
    display: flex;
    justify-content: space-evenly
    
    
}
.list{
    padding-left: 30px;
    display: flex;
}

header a{
    
    
    text-decoration: none;
    margin-right: 90px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #808080;
    font-family: Tahoma;
   
   
    
}
.iconbar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}
.icons{
align-items:flex-end;
padding-left: 50px;


}

.icons img{
    margin-right: 20px;
    }
  


.banner-container{
    width:100%;
    
    height: 100vh;
   
    
    background-image: url("https://cdn.supercell.com/supercell.com/220406141829/supercell.com/files/styles/hero_image_large/public/bg_hero_frontpage.jpg?itok=0oQ2Uxxa&timestamp=1544480104") ;
   
    background-size:contain;

    display: flex;
    background-position: center;
}
.banner-container .container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
   
}
.left-container{
    margin: 0;
    width: 600px;

}

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 20px;
}
.left-container h1{
    margin: 0;
    font-size: 40px;
    color: black;
   
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    justify-content:center;
    font-family: 'serif';
    
   
}
.left-container p{
    text-align: center;
    margin: 0;
    font-size: 20px;
    letter-spacing: 1px;
    color: #1a0202;
    margin-top: 18px;
    line-height: 28px;
    

}
.left-container .option{
    justify-content: center;
    
}


.left-container select{
   color: white;
   border: none;
   height: 40px;
   width: 150px;
   font-size: 20px;
   
   cursor: pointer;
   background-color: blue;
   text-align: center;
   border-radius: 50px;
   justify-content: center;

}
.section-two{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.card-container{
    width: 550px;
    border-radius: 15px;
    text-align: center;
}
.card-container h1{
   font-size: 18px;; 
    color:black;
}    
.card-container h2{
    font-size: 15px;
    color: rgb(121, 5, 53);
}
.image-container{
    width: 100%;
    height: 450px;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}    

.section-three{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.card2-container{
    width: 550px;
    border-radius: 15px;
    text-align: center;
}
.card2-container h1{
   font-size: 18px;; 
    color:black;
}    
.card2-container h2{
    font-size: 15px;
    color: rgb(121, 5, 53);
}
.image2-container{
    width: 100%;
    height: 450px;
}
.image2-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
    




.section-four{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.card3-container{
    width: 550px;
    border-radius: 15px;
    text-align: center;
}
.card3-container h1{
   font-size: 18px;; 
    color:black;
}    
.card3-container h2{
    font-size: 15px;
    color: rgb(121, 5, 53);
}
.image3-container{
    width: 100%;
    height: 450px;
}
.image3-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section-five{
    display: flex;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
}
.card4-container{
    width: 550px;
    border-radius: 15px;
    text-align: center;
}
.card4-container h1{
   font-size: 18px;; 
    color:black;
}    
.card4-container h2{
    font-size: 15px;
    color: rgb(121, 5, 53);
}
.image4-container{
    width: 100%;
    height: 450px;
}
.image4-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 
.second-button .simple{
   display: flex;
   justify-content: center;
   padding: 50px;

}
.simple button{
    color: #fff;
    background-color:#2d85f3;
    border: none;
    border-radius: 6px;
    padding: 10px 15px;
   
}

.graphics{

       width: 100%;
       height: 76vh;
       background-image: url(./images/bg_wmg_brawlstars.jpg);
       background-attachment: fixed;
       background-position:center;
}
.games{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
   

}  
.left-container2 h1{
    color: #fff;
    font-size: 40px;
    margin: 0;
    font-family: serif;
}
.left-container2{
    width: 600px;
}

.left-container2 p{
    margin: 0;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
}
.left-container2 button{
    color:black;
    background-color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 6px;
    margin-top: 20px;
    
}

.lady img{
    width: 400px;;
    height: 500px;
    align-items: bottom;
    margin: 0 auto;
    display: block;
    
}


.graphic2{
    width: 100%;
    height: 91vh;
    margin-top: 0;
   
   
    
}
.carrerimg img{
    width: 100%;
    position: absolute;
    height: 91vh;
    object-fit: cover;

}
.carrers{

    
    display: flex;
    justify-content: space-evenly;
    width: 125%;
    align-items: right;
    
    
}
.right-container{
    width: 150px;;
}

.right-container h1{
    margin: 0;
    font-size: 40px;
    position: absolute;
    color: white;
    font-family: serif;
    margin-top: 250px;
}
.right-container p{
    
    color: white;
    position: absolute;
    margin: 0;
    margin-top: 300px;
    line-height: 28px;
    letter-spacing: 1px;
    
}   
.right-container button{
    color:black;
    background-color: white;
    border: none;
    font-size: 12px;
    padding: 12px 20px;
    border-radius: 6px;
    margin-top: 20px;
    position: absolute;
    margin-top: 400px;
    
}
footer{
    margin: 0;
    width: 100%;
    background-color:black;
    height: 50vh;
    padding: 0;
    top:0;
}
.final1{
    width: 100%;
    background-color:black;
   
    padding: 15px;
    top:0;
    display: flex;
   
   
   

}
.solid{
    color: #808080;
}
.group1{
    display: flex;
    flex-direction: column;
    
}
.div1 p{
    font-size: 14px;
    color: white;
    margin-right: 100px;
    letter-spacing: 1px;
    width: 100%;
    display: block;
    


}

.div2 img{
    width: 25px;;
    height: 18px;
    margin-right: 1px;
    
   
}
.group2{
    display: flex;
    justify-content:flex-end;
    padding-left: 850px;
    justify-items: end;
}

.group2 img{
    width: 50%;
    height: 40px;
    flex-direction:right;
    justify-content:space-between;
    margin-right: 15px;
}

.fcontent{
    width: 100%;
    margin-top: 0;
    display: flex;

}
.content1 a{
  
    text-decoration: none;
    margin-right: 30px;
    font-size: 10px;
    margin-left: 15px;
    letter-spacing: 1px;
    color: #fff;
    font-family: Tahoma;
}
.content1 p{
   
    color:grey;
    font-size: 11px;
    margin-left: 15px;
    letter-spacing: 1px;
}
.comment{
    display: flex;
   align-self: flex-end;
   padding-left: 700px;
}
.content2 img{
    width: 40px;
    height: 35px;
    align-self: end;
}